<header class="bg-gray-800 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex items-center">
      <img src="mlogo.png" alt="Minyvinyl Logo" class="h-8 mr-4" />
      <nav class="hidden md:flex space-x-4">
        <a href="/" class="hover:text-orange-500">Home</a>
        <a href="#how-it-works" class="hover:text-orange-500">How It Works</a>
        <a href="#featured-playlists" class="hover:text-orange-500">Featured
          Playlists</a>
        <a href="#marketplace" class="hover:text-orange-500">Marketplace</a>
        <a href="#artists" class="hover:text-orange-500">Artists</a>
        <a href="#fans" class="hover:text-orange-500">Fans</a>
        <a href="#insights" class="hover:text-orange-500">Insights</a>
        <a href="#podcast" class="hover:text-orange-500">Podcast</a>
        <a href="#community" class="hover:text-orange-500">Community</a>
        <a href="#faq" class="hover:text-orange-500">FAQ</a>
      </nav>
    </div>
    <div class="flex items-center space-x-4">
      <input type="text" placeholder="Search" class="rounded p-1 text-black" />
      <a href="/signup" class="hover:text-orange-500">Sign Up</a>
      <a href="/login" class="hover:text-orange-500">Login</a>
    </div>
  </div>
</header>